.spalshscreen-conatiner {
  background: linear-gradient(173.05deg, #488FE7 -13.21%, #0E4D9A 103.58%);
  height: 100vh;
}

.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}