/* .sidenav-link {
    text-decoration: none !important;
    color: #747474 !important;
  }
  .active .sidenav-item{
    background-color: #eaeaea !important;
  }
  .sidenav-icon {
    float: left;
  }
  
  .sidenav-text {
    float: left;
  }
  
  .shop-setting{
    border-bottom: 1px solid #ccc !important;
  }
  
  .shop-qr{
    border-bottom: 1px solid #ccc !important;
  }
  
   */